.form {
    height: 61%;
    width: 30%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10rem;
    right: 35%;
    bottom: 40rem;
    overflow-x: auto;
    background-color: white;
    border-radius: 4%;
}

.heading {
    padding-top: 2vh;
    font-size: "x-large";
}

.para {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    font-size: large;
    justify-content: center;
    font-family: 'Gill Sans', sans-serif;
}

.user {
    height: 6vh;
    width: 80%;
    font-size: large;
}

.pass {
    margin-top: 2vh;
    height: 6vh;
    width: 80%;
    font-size: large;
}

.forgot {
    margin-left: 15vw;
    font-size: large;
    font-family: 'Gill Sans', sans-serif;
}

.btn {
    background-color: red;
    color: white;
    font-size: x-large;
    width: 50%;
    height: 15%;
    margin-top: 2vh;
    cursor: pointer;
    border-radius: 3%;
    border-style: none;
}


/*----------------------------recovery Email-------------------------------------*/

.form2 {
    height: 61%;
    width: 30%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10rem;
    right: 35%;
    background-color: white;
    border-radius: 4%;
    overflow-x: auto;
}

.form3 {
    height: 61%;
    width: 30%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10rem;
    right: 35%;
    background-color: white;
    border-radius: 4%;
    overflow-x: auto;

}

.para2 {
    font-family: 'Gill Sans', sans-serif;
    font-size: large;

}

.user2 {

    height: 6vh;
    margin-top: 2vh;
    width: 80%;
}



@media only screen and (max-width: 768px) {


    .form {
        height: 52%;
        width: 43%;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 10rem;
        right: 25%;
        overflow-x: auto;
        background-color: white;
        border-radius: 4%;
    }

    .form2 {
        height: 52%;
        width: 43%;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 10rem;
        right: 25%;
        overflow-x: auto;
        background-color: white;
        border-radius: 4%;
    }

    .form3 {
        height: 52%;
        width: 43%;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 10rem;
        right: 25%;
        overflow-x: auto;
        background-color: white;
        border-radius: 4%;

    }

}