.blogp1{
  position: relative;
  top: 10vh;
  height: 270vh;
}
.sec1{
  display: flex;
  color: black;
  width: 1024px;
    
}

.sec1h1{
  float: left;
  margin-top: 90px;
  font-weight: 100;
  font-size: 35px;
  z-index: 3;
}

.sec1h1img1{
  margin-top: 85px;
  margin-left: -25PX;
  z-index: 2;
  float: left;
  height: 35px;
  width: 40px;
}

.sec2{
  height: 320px;
  display: flex;
  width: 1024px;
}

.sec2img1{
  height: 320px;
  width: 520px;
}
.sec2h2{
  float: left;
  margin-top: 15px;
  color: rgb(255, 196, 0);
  font-size: 20px;
  font-weight: 100;
  margin-left: 20px;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  .sec2p1{
   width: 100%;
    text-align: left;  
    font-size: 35px;
    font-weight: 100;
   margin-top: 50px;
   margin-left: -65px;
   
    
  }  

  .para{
    font-size: 15px;
    margin-top: -130px;
    text-align: left;
    margin-left: 600px;
    width: 540px;
    color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  .sec1h2{
align-self: start
;    margin-top: 90px;
    font-weight: 100;
    font-size: 30px;
    width: 1150px;
    margin-left: 2px;
  }
  .sicon{
    float: right;
    display: inline;
    margin-left: 830px;
    font-size: 35px;
  }

  .card{
    height: 1000px;
    width: 1030px;
    
    
  }

  .cards{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 25px;
    column-gap: 25px;
    position: relative;
    top: 5vh;

  }

 

  .order-img{
    height: 24px;
    position: relative;
    left: 1vw;
  }

  .order-img2{
    height: 24px;
    padding-left: 23px;
    position: relative;
  }

  .paginationcolor{
    margin-left: 732px;
    color: #ff0000;
    position: relative;
    top: 5vh;
    
  }
  
  .paginationcolor :hover{
    color: rgb(255, 0, 0);
  }

  .cardlink{
    text-decoration: none;
    
  }
  .cardlinktext{
    
    text-decoration: none;
    color: black;
    display: flex;
   

  }
  
  /*-------------------------------------------MOBILE S VIEW-----------------------------------------------------------------*/
  @media screen and (max-width:320px){

    .blogp1{
      position: relative;
      top: 10vh;
      height: 780vh;
    }

    .sec1h1{
      margin-left: 25%;
    }
    .sec2img1{
      height: 75%;
      width: 80%;
      margin-left: 3vw;
    }

    .sec2h2{
      text-align: left;
      position: relative;
      margin-left: 10vw;
      top: -7vh;
    }
    .sec2p1{
      width: 85%;
      margin-left: 10vw;
      margin-top: -6vh;
    }
    .para{
      margin-top: 70px;
      margin-left: 4vw;
      width: 82%;
    }
    .sec1h2{
      margin-top: 11%;
      margin-left: 62px;
      width: 200px;
    }
    .order-img{
      margin-left: -1600px;

    }
    .cards{
      display: grid;
      grid-template-columns: auto;
      row-gap: 35px;
     margin-left: 6vw;
  
    }
    .card{
      height: 1000px;
      width: 280px;
      
      
    }

    .paginationcolor{
      margin-left: 10%;
      display: inline;
      margin-top: 10%;
      width: max-content;
    }

    .sec1{
      width: 320px;
    }
    .sec2{
      width: 320px;
    }

  }


  
  /*-------------------------------------------MOBILE M VIEW-----------------------------------------------------------------*/
  @media (min-width:321px) and (max-width:375px){

    .blogp1{
      position: relative;
      top: 10vh;
      height: 780vh;
    }

    .sec1h1{
      margin-left: 28%;
    }
    .sec2img1{
      height: 150px;
      width: 90%;
      position: relative;
left: 3vw;    
}

    .sec2h2{
      text-align: left;
      margin-left: 8vw;
      width: 20%;
      top: 1vh;
      position: relative;
    }
    .sec2p1{
      width: 80%;
      margin-left: 8vw;
      margin-top: 5vh;
    }
    .para{
      margin-top: 70px;
      margin-left: 1vw;
      width: 82%;
    }
    .sec1h2{
      margin-top: 10%;
      margin-left: 03px;
      width: 375px;
    }
    .order-img{
      margin-left: -1600px;

    }
    .cards{
      display: grid;
      grid-template-columns: auto;
      row-gap: 35px;
     margin-left: 2vw;
  
    }
    .card{
      height: 1000px;
      width: 280px;
      
      
    }

    .paginationcolor{
      margin-left: 10%;
      display: inline;
      margin-top: 10%;
      width: max-content;
    }
    .sec1{
      width: 375px;
    }
    section.sec2{
      width: 375px;
    }
    .cardlink{
      width: 360px;
    }
    a.cardlinktext{
      width: 360px;
    }

  }





  /*-------------------------------------------MOBILE L VIEW-----------------------------------------------------------------*/
  @media (min-width:376px) and (max-width:425px) {
    .blogp1{
      position: relative;
      top: 10vh;
      height: 750vh;
    }
    .sec1h1{
      margin-left: 27%;
    }
    .sec2img1{
      height: 85%;
      width: 85%;
      margin-left: 2vw;
    }
    section.sec2 {
      width: 425px;
      margin-top: 50px;
      background-color: rgb(255, 255, 255);
  }
    
    .sec2h2{
      text-align: left;
      margin-left: 8vw;
      top: -5vh;
      position: relative;
    }
    .sec2p1{
      width: 100%;
      margin-left: 8vw;
      margin-top: -5vh;
    }
    .para{
      margin-top: 100px;
      margin-left: 8vw;
      width: 92%;
    }
    .sec1h2{
      margin-top: 10%;
      margin-left: 10px;
      width: 325px;
    }
    .order-img{
      margin-left: -1400px;

    }
    .cards{
      display: grid;
      grid-template-columns: auto;
      row-gap: 25px;
     margin-left: 8vw;
     width: 375px;
  
    }
    
    .paginationcolor{
      margin-left: 30vw;
    }
    .sec1{
      width: 325px;
    }
    a.cardlink{
      width: 425px;
      display: auto;
    }
    .cardlink{
      width: 360px;
    }
    a.cardlinktext{
      width: 360px;
    }
    center{
      width: 425px;
    }
    section.card{
      width: 425px;
    }
  }


  /* for tablet */

  @media(min-width: 760px ) and (max-width: 850px ){

    .blogp1{
      position: relative;
      top: 10vh;
      height: 500vh;
    }
   
    .sec1{
      width: 768px;
    }
    .sec2{
      display: flex;
      flex-direction: column;
      width: 768px;
    }
    .sec1h1{
      margin-left: 43%;
    }
    .sec2img1{
      height: 103%;
      width: 87%;
      margin-left: 0vw;
    }

    .sec2h2{
      text-align: left;
      margin-left: 6vw;
      top: 2vh;
      position: relative;
    }
    .sec2p1{
      width: 78%;
      margin-left: 6vw;
      margin-top: 4vh;
    }
    .para {
      margin-top: 44vh;
      margin-left: -8vw;
      width: 79%;
  }
  
  
  .sec1h2 {
    margin-top: 2%;
    margin-left: 61px;
    width: 668px;
    display: flex;
    flex-wrap: wrap-reverse;
    bottom: 2vh;
    position: relative;
}
    .order-img{
      margin-left: -91px;
      top: 7vh;
      position: relative;

    }
    sub{
      width: 668px;
    }
    

  
    .order-img2{
      top: 7vh;
      position: relative;

    }
    .cards{
      display: grid;
      grid-template-columns: auto auto;
      row-gap: 35px;
     margin-left:0px;
  
    }
    .card{
      height: 1000px;
      width: 620px;
      
      
    }

    .paginationcolor{
      margin-left: 60%;
      display: inline;
      width: max-content;
    }

  }

 /* for Laptop */

 @media(min-width: 1020px ) and (max-width: 1040px ){

  .blogp1{
 
    position: relative;
    top: 10vh;
    height: 360vh;
  }
 
  .css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    width: 1024px;
    left: 0;
  }


  .sec1{
    margin-left:22vw;
    width: 700px;
    float: left;
    margin-top: -8vh;
  }
  section.sec2{
    
    display: flex;
    flex-direction: column;
  }
  .sec1h1{
    margin-left: 30%;
    margin-top: 124px;
  }
  .sec1h1img1{
    margin-top: 118px;
  }
  .sec2img1{
    height: 85%;
    width: 40%;
    margin-left: 0vw;
    margin-top: 10px;
  }

  .sec2h2{
    text-align: left;
    margin-left: 20vw;
  }
  .sec2p1{
    width: 58%;
    margin-left: 20vw;
    margin-top: 1vh;
  }
  .para{
    margin-top: 100px;
    margin-left: 2vw;
    width: 62%;
  }
  .sec1h2{
    width: 1024px;
    display: flex;
   flex-wrap: wrap-reverse;
   margin-left: -8vw;
   margin-bottom: 20px;
  }
  .order-img{
    margin-left: -19vw;
   position: relative;
    top: 5vh;

  }

  .order-img2{
   
   position: relative;
    top: 5vh;

  }
  .cards{
    margin-top: 35px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 25px;
   margin-left:-12vw;
   margin-right: -15vw;

  }
  .card{
    height: 1000px;
    width: 500px;
    
    
  }

  .paginationcolor{
    margin-left: 85%;
    margin-top: 10%;
    display: inline;
    width: max-content;
  }

}

