.sec1{
  margin-top: 20vh;
  width: 80%;
  display: flex;
  margin-left: 10%;
}

.sec1h1{
  font-weight: lighter;
  font-size: 2.5rem;
  z-index: 2;
}

.ssec1img {
  position: relative;
  height: 40px;
  width: 40px;
  top: -5PX;
  RIGHT: 21PX;
  Z-INDEX: 1;
}

/*--------------section2-----------------------------*/

.sec2{
  width: 80%;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  
}
.leftdivsec2{
  width: 48%;
}
.flexdiv{
  width: 52%;
  display:flex ;
  flex-direction: column;
  align-items: start;
}
.sec2img{
  width: 100%;
  height: 100%;
}

.sec2h2{
  color: rgb(255, 196, 0);
  font-size: 20px;
  font-weight: 100;
  margin-left: 3%;
}

.sec2p1{
  width: 100%;
  font-size: 2.5rem;
  font-weight: 100;
  text-align: left;
  margin-left: 3%;
  margin-top: -2%;
   
 } 
 .para{
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  margin-left: 3%;
  margin-top: 2%;
  color: gray;

 }

 /*-------------------------------------------------section3-------------------------------------------------------*/


 .ssec3{
  width: 80%;
  display: flex;
  margin-top: 8vh;
  margin-left: 10%;
  margin-right: 10%;
  
}

 .h1{
  text-align: left;
  font-size: 1.8rem;
  font-weight: lighter;
 }

 .sicon{
  position: relative;
  left: 66vw;
  top: 3vh;
  float: right;
 }
 
 .order-img{
  height: 30px;
 }

 .order-img2{
  position: relative;
  left: 25%;
  height: 30px;
 }

 /*-----------------------------------sec4-card-section---------------------------------------------------------*/

 .sec4{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
 }

 .cards{
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 25px;
  column-gap: 25px;
}

.paginationcolor{
  color: #ff0000;
  margin-left: 70vw;
}

.paginationcolor :hover{
  color: rgb(255, 0, 0);
}

.cardlinktext{
  text-decoration: none;
  color: black;
}
.cardlink{
  text-decoration: none;
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
  background-color: rgb(233 11 11 / 98%) !important;
  color: white;
}
.css-1p5q5e5-MuiStack-root {

  position: relative;
  top: 10vh;
}

/*------------------------------------------------------media queries------------------------------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


  .sec2{
      display: flex;
      flex-direction: column;
  }
  .leftdivsec2{
      width: 100%;
      height: 100%;
  }
  .flexdiv{
      width: 100%;
  }
  .sec2img{
      height: 100%;
      width: 100%;
  }
  .sec2h2{
    margin-left: 0;
  }
  .sec2p1{
    margin-left: 0;
  }
  .para{
      margin-left: 0;
  }
 
  .sicon{
      visibility: collapse;      
      left: 0;
  }
  .cards{
      display: grid;
      grid-template-columns: auto;
      row-gap: 25px;
      justify-content: center;   
  }
  .paginationcolor{
      margin-left: 40%;
  }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media  (min-width: 600px) and (max-width: 768px) {
  .sec2{
      display: flex;
      flex-direction: column;
  }
  .leftdivsec2{
      width: 100%;
      height: 100%;
  }
  .flexdiv{
      width: 100%;
  }
  .sec2img{
      height: 100%;
      width: 100%;
  }
  .sec2h2{
    margin-left: 0;
  }
  .sec2p1{
    margin-left: 0;
  }
  .para{
      margin-left: 0;

}

.sicon{
  visibility: collapse;      
  left: 0;
}
.cards{
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 25px;
  justify-content: center;   
}
.paginationcolor{
  margin-left: 50%;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media  (min-width: 768px) and (max-width: 991px) {


  .sec2{
      display: flex;
      flex-direction: column;
  }
   .leftdivsec2{
      width: 100%;
      height: 100%;
  }
  .flexdiv{
      width: 100%;
  }
  .sec2img{
      height: 100%;
      width: 100%;
  }
  .sec2h2{
    margin-left: 0;
  }
  .sec2p1{
    margin-left: 0;
  }
  .para{
      margin-left: 0;

}

.sicon{
  visibility: collapse;      
  left: 0;
}
.cards{
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 25px;
  justify-content: center;   
}
.paginationcolor{
  margin-left: 50%;
}

}

/*------------ Large devices (laptops/desktops, 992px and up)----------------------- */

@media  (min-width: 992px) and (max-width: 1500px) {


.cards{
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 25px;
  justify-content: center;   
}
.paginationcolor{
  margin-left: 70%;
}
.css-wjh20t-MuiPagination-ul{
  margin-left: 18vw;
  margin-top: 1vh;
}

}

/*------------ 4k devices (laptops/desktops, 2000px and up)----------------------- */


@media  (min-width: 2000px) and (max-width: 3000px) {


  .cards{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 25px;
    justify-content: center;   
    width: 73vw;
  }
  .paginationcolor{
    margin-left: 70%;
  }
  .sec2h2 {
    color: rgb(255, 196, 0);
    font-size: 3rem;
    font-weight: 100;
    margin-left: 3%;
}
.sec2p1 {
  width: 100%;
  font-size: 3.8rem;
  font-weight: 100;
  text-align: left;
  margin-left: 3%;
  margin-top: -2%;
}
.para {
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  margin-left: 3%;
  margin-top: 2%;
  color: gray;
}

  
  }

