.blogpage{
   min-height: 100vh;
}
/*-----------------------------------------------------section-1------------------------------------------------------*/

.sec1{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30vh;
}
.para1{
    font-size: 2.5rem;
    color: #262626;
    width: 75%;
}

.para2{
    margin-top: 2vh;
    width: 40%;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #262626;
}

.para3{
    margin-top: 2vh;
    width: 80%;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #262626;
}


.pic1{
    margin-top: 8vh;
    width: 100%;
}

.para4{
font-size: 1rem;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: 1vh;
font-weight: lighter;
color: rgb(141, 133, 133);
width: 90%;
}

/*-----------------------------------------------------section-2------------------------------------------------------*/
.sec2{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10vh;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}


.sec2left{
    width: 35%;
    position: relative;
    top: 0;
    left: 0;
}

.rect {
    width: 99%;
    width: 96%;
    height: 100%;
    position: absolute;
    top: 2vh;
    left: 2vw;
    z-index: 1;
}

.pic2{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
    
}
.sec2right{
    width: 65%;
    display: flex;
    flex-direction: column;
}

.para5{
    font-size: 1.8rem;
    width: 100%;
    margin-left: 2vw;
    width: 80%;
}

.para6{
    font: size 1rem;;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(141, 133, 133);
    margin-left: 2vw;
    width: 80%;
    margin-top: 4vh;
}

/*-----------------------------------------------------section-3------------------------------------------------------*/

.sec3{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10vh;
    height: 50vh;
}

.pic4{
    float: right;
    height: 40%;
    width: 15%;
    position: relative;
    top: -10vh;
}
.para7{
    font-size: 2rem;
    width: 65%;
    text-align: left;

}
.para8{
    text-align: left;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(141, 133, 133);
    float: left;
    position: relative;
    width: 90%;
}

/*-----------------------------------------------------section-4------------------------------------------------------*/

.sec4{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10vh;
    display: flex;
    position: relative;
    
}
.leftsec4{
    width: 60%;

}
.rightsec4{
    position: relative;
    width: 40%;
}
.pic3{
    width: 100%;
    height: 100%;
    z-index: 3;
    position: relative;
}

.para9{
    width: 95%;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(141, 133, 133);
    
}
.rect2 {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 3%;
    right: 2%;
    z-index: 0;
}

/*-----------------------------------------------------section-5------------------------------------------------------*/
.sec5{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.para10{
    margin-top: 5vh;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 90%;
    font-weight: lighter;
    color: rgb(141, 133, 133);
}


  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .para1{
        width: 80%;
    }
   .sec2{
    display: flex;
    flex-direction: column;
   }
   .pic4{
    visibility: collapse;
   }
   .pic2{
    width: 280%;
   }
   .rect{
    width: 250%;
    height: 95%;
   }
   .para5{
    width: 120%;
   }
   .para6{
    width: 120%;
   }
   .para7{
    width: 100%;
   }
   .para8{
    margin-top: 20%;
   }
   .sec4{
    display: flex;
    flex-direction: column;
   }
   .pic3{
    margin-top: 10%;
    width: 250%;
   }
   .rect2{
    visibility: collapse;
   }
   .para9{
    width: 150%;
   }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media  (min-width: 600px) and (max-width: 768px) {

    .para1{
        width: 80%;
    }
   .sec2{
    display: flex;
    flex-direction: column;
   }
   .pic4{
    visibility: collapse;
   }
   .pic2{
    width: 280%;
   }
   .rect{
    width: 280%;
    height: 95%;
   }
   .para5{margin-top: 5vh;
    width: 150%;
   }
   .para6{
    width: 150%;
   }
   .sec2right{
    margin-left: -2vw;
   }
   .para7{
    width: 100%;
   }
   .para8{
    margin-top: 5%;
   }
   .sec4{
    display: flex;
    flex-direction: column;
   }
   .pic3{
    margin-top: 10%;
    width: 250%;
   }
   .rect2{
    visibility: collapse;
   }
   .para9{
    width: 150%;
   }

  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media  (min-width: 768px) and (max-width: 991px) {

    .para1{
    width: 80%;
    } 
   .para5{
    width: 100%;
   }
   .para6{
    width: 100%;
   }
   .para7{
    width: 100%;
   }
   .para8{
    margin-top: 5%;
   }
   
  
 
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media  (min-width: 992px) and (max-width: 1200px) {

    .para1{
        width: 80%;
    }
    .para5{
        width: 100%;
    }
    .para6{
        width: 100%;
    }
   .para7{
    width: 100%;
   }
   .para8{
    margin-top: 5%;
   }
   .para9{
    width: 95%;
   }

  }

  /*Extra large devices (large laptops and desktops, 1200px and up)*/
  @media only screen and (min-width: 1200px) {

  }