.contactus{
  position: relative;
  width: 100%;
  height: auto;
  font-family: 'Gill Sans';
  display: flex;
  flex-wrap: nowrap;
  padding-top: 8rem;
}

.leftsection{
width: 50%;
position: relative;
padding-left: 6rem;
z-index: 1;
}
  .head1div{
      position: relative;
  }
  .heading1{
  position: relative;
  font-size: 1.7rem;
  color: #262626;
  z-index: 99;
  font-family: "Prata";
  }
  .icon1{
  position: absolute;
  top: 0rem;
  left: 6rem;
  height: 2rem;
  width: 2rem;
  opacity: 1;
  z-index: -1; 
  }
  .talkwithusdiv{
      position: relative;
      left: 1rem;
  }
  .mailicon{
      height: 0.9rem;
      width: 0.9rem;
    }
  .callicon{
      height: 15px;
      width: 15px;
    }

  .visitusdiv{
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      left: 1rem;
  }
  .locationicon{
      height: 15px;
      width: 13px;
      
    }
  .adress{
      position: relative;
      left: 1rem;
    }
  .followusdiv{
      position: relative;
      left: 1rem;
  }
  .fb_insta{
      position: relative;
      display: flex;
      flex-wrap: nowrap;
  }
  .fbicon{
      height: 1rem;
      width: 1rem;
    }
  .instaicon{
      height: 1rem;
      width: 1rem;
    }
  .username{
      position: relative;
      left: 1rem;
  }


.rightsection{
  width: 38%;
  position: relative;
  top: 4rem;
}
 .formcontactus{
  position: relative;
  top: 1rem;
 }
  .input1{
  height: 2rem;
  width: 25rem;
  }
  .input2{
  height: 6rem;
  width: 25rem;
  }
 
  input.input1::placeholder{
      text-align: left;
      margin-left: 5px;
  }
  .input2::placeholder{
      text-align: left;
      margin-top: 30px;
  }
  .btncontactus{
    height: 2rem;
    width: 25rem;
    color: white;
    background-color: rgba(193, 34, 34, 1); 
    border-style: none;
    position: relative;
    right: 0.45rem;
  }

.map{
  position: relative;
  height: 15rem;
  width: 85%;
  border: none;
}

/*************************for mob*****************************************************************/
@media (max-width:430px) {
  .contactus{
      position: relative;
      width: 100%;
      height: 100%;
      font-family: 'Gill Sans';
      display: grid;
      padding-top: 8rem;
    }
  
  .leftsection{
  width: 100%;
  position: relative;
  z-index: 1;
  right: 5rem;
  }

  .rightsection{
      width: 100%;
      position: relative;
      top: 5rem;
      }
      .input1{
          height: 2rem;
          width: 15rem;
          }
      .input2{
          height: 6rem;
          width: 15rem;
          }
      .btncontactus{
              height: 2rem;
              width: 15rem;
              color: white;
              background-color: rgba(193, 34, 34, 1); 
              border-style: none;
              position: relative;
              right: 0.45rem;
            }
      .map{
              position: relative;
              height: 15rem;
              width: 85%;
              top: 5rem;
              padding-bottom: 2rem;
          }
          
}
/*************************for mob*****************************************************************/
@media (max-width:790px) {
  .rightsection{
      width: 100%;
      position: relative;
      top: 5rem;
      }
      .input1{
          height: 2rem;
          width: 15rem;
          }
      .input2{
          height: 6rem;
          width: 15rem;
          }
      .btncontactus{
              height: 2rem;
              width: 15rem;
              color: white;
              background-color: rgba(193, 34, 34, 1); 
              border-style: none;
              position: relative;
              right: 0.45rem;
            }
}