  /* -------------------------------------------------------------For Mobile----------------------------------------------------------------*/
  @media(max-width:425px){
    .footer{
        position: relative;
        left: 0;
        bottom: 0;
        width: 99.9%;
        height: 830px;
        margin-top: 10%;
        background: #2B230A;

        display: block;
        margin-left: auto;
        margin-right: auto;
      }
        
        
        .section1{
            position: absolute;
            left: 9.45%;
            right: 74.06%;
            top: 4.00%;
            bottom: 11.43%;
        }
        .piczero{
        position: absolute;
        height: 50px;
        width: 50px;
        left: 10%;
        
        }
        .mobilelogo{
        position: absolute;
        height: 15px;
        width: 10px;
        left: 20.0%;
        right: 20.83%;
        top: 10.33%;
        bottom: 8.33%;
        }
        .mobnum{
            position: absolute;
            width: 100px;
            height: 24px;
            left: 45px;
            right: 1000px;
            top: 9.33%;
            bottom: 8.33%;
            margin-top: 10px;
            font-family: 'Gill Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            color: #FFFFFF;   
        }
        .maillogo{
            height: 13px;
            width: 15px;
            position: absolute;
            left: 14.5%;
            right: 20.83%;
            top: 15.33%;
            bottom: 8.33%
        }
        .mailid{
            margin-left: 23px;
            color: white;
            font-size: 12px;
            position: absolute;
            margin-top: 12px;      
            left: 40.0%;
            right: 19.83%;
            top: 13.33%;
            bottom: 8.33%;  
        }
        .sociallogo{
            position: absolute;
        
            left: 12.0%;
            right: 20.83%;
            top: 20.33%;
            bottom: 8.33%;  
        }
        .fblogo{
            position: absolute;
            height: 15px;
            width: 11px;
            left: 1.0%;
        }
        .tweeterlogo{
            position: absolute;
            height: 15px;
            width: 15px;
            left: 50.0%;
        }
        .pinlogo{
            position: absolute;
            height: 15px;
            width: 15px;
            left: 100.0%;
        }
        .instalogo{
            position: absolute;
            height: 15px;
            width: 15px;
            left: 150.0%;
        }
        
        
        .section2{
            position: absolute;
            
            left: 12.45%;
            right: 74.06%;
            top: 28.00%;
            bottom: 11.43%;
        
            color: white;
        }
        .sec2head{
            font-size: 18px;
            width: 120px;
        }
        .sec2compo{
            width: 100px;
            font-size: 12px;
        }
        .section3{
            position: absolute;
            
            left: 12.45%;
            right: 74.06%;
            top: 53.00%;
            bottom: 11.43%;
        
            color: white;
        }
        .sec3head{
            font-size: 18px;
            width: 150px;
        }
        .sec3compo{
            width: 120px;
            font-size: 12px;
        }
        .section4{
            position: absolute;
            
            left: 12.45%;
            right: 74.06%;
            top: 78.00%;
            bottom: 11.43%;
        
            color: white;
        }
        .sec4head{
            font-size: 18px;
            width: 150px;
        }
        .sec4form{
            height: 44px;
            width: 252px;
        }
        .sec4inputtext{
            height: 28px;
            width: 200px;
            background-color: #2B230A;
            border-color: #FFFFFF;
           
        }
        .formbutton{
            height: 28px;
            width: 200px;
            background-color: rgba(252, 179, 48, 1);
            border-style: none;
        
            color: #FFFFFF;
        }
        .divider{
        position: absolute;
        width: 100%;
        height: 1px;
        left: 1px;
        top: 800px;
        z-index: 99;
        background-color: #2B230A;
        
        border: 0.0001px solid ;
        border-style: none;
        }
        .footertext{
            position: absolute;
            width: 100%;
            top: 810px;
        
            color: white;
            font-size: 12px;
        }
  }

    /* -------------------------------------------------------------For Tab----------------------------------------------------------------*/
    @media(min-width: 760px ) and (max-width: 770px ){
        .footer{
            position: relative;
            left: 0;
            bottom: 0;
            width: 99.9%;
            height: 530px;
            margin-top: 10%;
            background: #2B230A;
    
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
            
            
            .section1{
                position: absolute;
                left: 20.45%;
                right: 74.06%;
                top: 4.00%;
                bottom: 11.43%;
            }
            .piczero{
            position: absolute;
            height: 50px;
            width: 50px;
            left: 10%;
            
            }
            .mobilelogo{
            position: absolute;
            height: 15px;
            width: 10px;
            left: 20.0%;
            right: 20.83%;
            top: 13.33%;
            bottom: 8.33%;
            }
            .mobnum{
                position: absolute;
                width: 100px;
                height: 24px;
                left: 45px;
                right: 1000px;
                top: 11.33%;
                bottom: 8.33%;
                margin-top: 10px;
                font-family: 'Gill Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                color: #FFFFFF;   
            }
            .maillogo{
                height: 13px;
                width: 15px;
                position: absolute;
                left: 14.5%;
                right: 20.83%;
                top: 20.33%;
                bottom: 8.33%
            }
            .mailid{
                margin-left: 23px;
                color: white;
                font-size: 12px;
                position: absolute;
                margin-top: 12px;      
                left: 40.0%;
                right: 19.83%;
                top: 17.33%;
                bottom: 8.33%;  
            }
            .sociallogo{
                position: absolute;
            
                left: 12.0%;
                right: 20.83%;
                top: 28.33%;
                bottom: 8.33%;  
            }
            .fblogo{
                position: absolute;
                height: 15px;
                width: 11px;
                left: 1.0%;
            }
            .tweeterlogo{
                position: absolute;
                height: 15px;
                width: 15px;
                left: 5vh;
            }
            .pinlogo{
                position: absolute;
                height: 15px;
                width: 15px;
                left: 10vh;
            }
            .instalogo{
                position: absolute;
                height: 15px;
                width: 15px;
                left: 15vh;
            }
            
            
            .section2{
                position: absolute;
                
                left: 62.45%;
                right: 74.06%;
                top: 4.00%;
                bottom: 11.43%;
            
                color: white;
            }
            .sec2head{
                font-size: 18px;
                width: 120px;
            }
            .sec2compo{
                width: 100px;
                font-size: 12px;
            }
            .section3{
                position: absolute;
                
                left: 20.45%;
                right: 74.06%;
                top: 43.00%;
                bottom: 11.43%;
            
                color: white;
            }
            .sec3head{
                font-size: 18px;
                width: 150px;
            }
            .sec3compo{
                width: 120px;
                font-size: 12px;
            }
            .section4{
                position: absolute;
                
                left: 62.45%;
                right: 74.06%;
                top: 43.00%;
                bottom: 11.43%;
            
                color: white;
            }
            .sec4head{
                font-size: 18px;
                width: 150px;
            }
            .sec4form{
                height: 44px;
                width: 252px;
            }
            .sec4inputtext{
                height: 28px;
                width: 200px;
                background-color: #2B230A;
                border-color: #FFFFFF;
               
            }
            .formbutton{
                height: 28px;
                width: 200px;
                background-color: rgba(252, 179, 48, 1);
                border-style: none;
            
                color: #FFFFFF;
            }
            .divider{
            position: absolute;
            width: 100%;
            height: 1px;
            left: 1px;
            top: 500px;
            z-index: 99;
            background-color: #2B230A;
            
            border: 0.0001px solid ;
            border-style: none;
            }
            .footertext{
                position: absolute;
                width: 100%;
                top: 510px;
            
                color: white;
                font-size: 12px;
            }
    }

      /* -------------------------------------------------------------For Laptop 1024----------------------------------------------------------------*/
  @media(min-width: 1020px ) and (max-width: 1025px ){
  }
