  /* -------------------------------------------------------------For Mobile----------------------------------------------------------------*/
  @media(max-width:425px){
/***************************---First---***********************/
.navbar{
 display: hidden;
 margin-left: -32%;
}

.nav{
  width: 50%;
}
.fir-sect{
    position: relative;
    height: 40vh;
    width: 100vw;
    background-color: #ffdcc8;
}
.fir-img{
    width: 100%;
    height: 40vh;
}
.waveimg{
    width: 100%;
    height: 20px;
}
/***************************---second---***********************/

.sec-sect{
    margin-top: -4px;
    position: relative;
    height: 55vh;
    width: 100%;
    background-color: #e9c56d;
}
/***************************---Third---***********************/

.third-sect{
    position: relative;
    top: 5vh;
    left: 5%;
  }
  
  .third-text1{
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  }
  
  .third-text2{
    font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  margin-top: 8px;
  }
  
  .third-text3{
    font-family: 'Gill Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  position: relative;
  right: 140vw;
  margin-top: 2vh;
  
  width: 250px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  }
  
  .third-img{
    position: relative;
    top: 100px;
    height: 10px;
    z-index: 3;
    margin-right: 7px;
  }
  .third-image{
    height: 50px;
    z-index: 3;
    margin-right: 7px;
  }
  
  .third-text4{
    margin-top: 15px;
    font-size: 10px;
    z-index: 3;
    width: 40vw;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }
  
  .third-border{
    display: flex;
    z-index: 2;
    border: 1px solid #D1D1D1;
    background-color: #FFFFFF;
    border-width: "thin";
    top: 0vh;
    margin-right: -127px;
    position: absolute;
    top: -42px;
    right: -118px;
    padding: 12px 0 10px 18px;
  }
  .third-border:hover{
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
  }
  .third-number{
    margin-top: -40px;
    z-index: -1;
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.2);
  }
/***************************---Fourth---***********************/
  .fourth-sec{
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    position: absolute;
    top: 85vh;
  }
  
  }

 

  /*--------------------------------Header and offer css----------------------------------------------------------------*/

  /*------------------------------------For Mobile S view------------------------------------------*/


@media screen and (max-width: 320px ){

  .navbar {
    width: 320px;
    margin-left: 0%;
    
}

.headericons {
  padding-right: 20px;
  align-items: center;
  justify-content: left;
}
.css-r6ewbb-MuiToolbar-root {
  min-height: 64px;
  width: 100%;
}

}





/*------------------------------------For Mobile M view------------------------------------------*/


@media (min-width:321px) and (max-width: 375px ){

  .navbar {
    width: 375px;
    margin-left: 0%;
    
}

.headericons {
  padding-right: 20px;
  align-items: center;
  justify-content: left;
}
.css-r6ewbb-MuiToolbar-root {
  min-height: 64px;
  width: 100%;
}

}


/*------------------------------------For Mobile L view------------------------------------------*/

  
  @media (min-width:376px) and (max-width:425px) {
    .navbar {
      max-width: 100%;
      margin-left: 0%;
      
  }
  
  .headericons {
    padding-right: 20px;
    align-items: center;
    justify-content: left;
  }
  .css-r6ewbb-MuiToolbar-root {
    min-height: 64px;
    width: 100%;
  }

  }


/*----------------------------------Media Queries for Tablet View----------------------------------------------------*/

@media(min-width: 426px ) and (max-width: 770px ) {
  

   .navbar {
    width: 770px;
    
}

.headericons {
  padding-right: 20px;
  align-items: center;
  justify-content: left;
}
.css-r6ewbb-MuiToolbar-root {
  min-height: 64px;
  width: 770px;
}
}

/* -------------------------------------------------------------For Laptop 1024----------------------------------------------------------------*/
@media(min-width: 1020px ) and (max-width: 1025px ){
  .navbar {
    max-width: 1024px;
    
}
.css-r6ewbb-MuiToolbar-root {
  min-height: 64px;
  width: 100%;
}
.headericons {
  padding-right: 0px;
  align-items: center;
  justify-content: left;
}
.zeroimg {
  margin-left: 10px;
  height: 60px;
  width: 48px;
}


}