.bar{
    display: flex;
   
}

.searchbarinput::placeholder{
    text-align: center;
}

.searchbarinput{
    position: relative;
    right: 7px;
    box-shadow: none;
    PADDING-LEFT: 5%;
}
.searchbarinput::selection{
    border: 0px;
    background-color: rgb(54, 115, 245);
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover {
     background-color: rgba(0, 0, 0, 0); 
}