.containerabc {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.slider-box1 {
  margin: 1rem;

  height: 100%;
  /* background-color: lightblue; */
  margin-bottom: 20px;
}

._290N2,
._3_rel {
  background: #f9d695;
  color: white;
  opacity: 0.15;
  width: 25px !important;
  height: 25px !important;
}

._290N2:hover,
._3_rel:hover {
  background: #c12222;
  color: white;
  opacity: 0.15;
  width: 25px;
  height: 25px;
}

h2,
h3 {
  font-family: "Noto Serif", serif;
  font-size: 22px;
}

/* .product {
  width: 100%;
    max-width: 100%;
    display: flex;
    margin: 50px auto;
} */

/* .product #ls {
    background: red;
} */

.product section:first-child {
  display: flex;
  flex-direction: column;
  width: 70px;
}

.product section:first-child .images {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 75px;
  padding-left: 3%;
  gap: 20%;
}

.product section:first-child .images img {
  width: 75px;
  margin: 5px 0;
  cursor: pointer;
}

.product section:first-child #left {
  width: 40px;
  position: relative;
  top: 18.5rem;
  background-color: #efe2e2;
  color: #838383;
  width: 25px !important;
  height: 25px !important;
  border-radius: 100%;
  left: 4rem;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.product section:first-child #right {
  width: 40px;
  position: relative;
  bottom: 15rem;
  left: 29rem;
  background-color: #efe2e2;
  color: #838383;
  width: 25px !important;
  height: 25px !important;
  border-radius: 100%;
  cursor: pointer;
}

.product section:first-child #right:hover {
  color: white;
  background-color: #c12222;
  cursor: pointer;
}

.product section:first-child #left:hover {
  color: white;
  background-color: #c12222;
  cursor: pointer;
}

.main-image {
  height: 500.5px;
  margin-left: 15px;
  width: 500px;
  max-width: calc(100vw - 110px);
}

.product #ls {
  width: auto;
}

.btnofprice{
  background-color: rgba(252, 179, 48, 0.1);;
  border: 1px solid #FCB330;
  width: 136px;
height: 40px;
gap: 1rem;
margin-right: 1rem;
  color:  #262626;
}

.btnofprice:hover{
  background-color: #FCB330;
  color:  #262626;
}


.zero-box2 {
  width: 50%;
  height: 100%;
  /* background-color: rgb(229, 229, 229); */
  margin-bottom: 20px;
  margin-top: 2rem;
}

.shop-slider-icon {
  margin: 10px;
  width: 50px;
  height: 50px;
}

.zerozero-title {
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
  display: contents;
  margin: "0px";
  color: #262626;
}

.reviews500 {
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  color: #262626;
}

.ratting {
  display: flex;
  align-items: center;
}

.ratting-below-line {
  margin-top: 13px;
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #262626;
}

.MRP-all-taxes {
  display: inline-flex;
  align-items: baseline;
}

.MRP {
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: 500;
  display: inline-flex;
  font-size: 100%;
  line-height: 150%;
  margin: 0px;
  color: #382924;
}

.all-taxes {
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 70%;
  line-height: 150%;
  margin: 0px;
  color: #382924;
}

.highlight {
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  display: contents;
  color: #262626;
  padding-top: 2%;
}

.highlight-lorem4line {
  padding-left: 20px;
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #262626;
}

.icons {
  margin-bottom: 3%;
  background-color: white;
  cursor: pointer;
  display: flex;
}


.addtowishlist {
  padding-right: 15px;
  display: inline;
  font-size: 15px;
  cursor: pointer;
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #363636;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.delivery-return {
  padding-right: 15px;
  display: inline;
  font-size: 15px;
  cursor: pointer;
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #363636;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.enquiry {
  padding-right: 15px;
  display: inline;
  font-size: 15px;
  cursor: pointer;
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #363636;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.quantity {
  display: flex;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 38px;
  font-size: 16px;
  color: #000;
}

.size {
  margin-top: 20px;
  margin-bottom: 30px;
}

.size h3 {
  font-size: 18px;
}

.size #ml {
  font-size: 15px;
  display: block;
  margin-bottom: 20px;
}

.sizes {
  height: auto;
}

.size .ml {
  font-size: 15px;
  padding: 10px;
  color: #382924;
  background: rgba(252, 179, 48, 0.1);
  margin: 0 5px;
  cursor: pointer;
}

.size .ml:hover {
  background: #fcb330;
}

.sizes .ml:first-child {
  margin-left: 0;
}

.sizes .ml:last-child {
  margin-right: 0;
}

.sizes .ml.active {
  color: black;
  border: 1px solid #9c4727;
  background: #fcb330;
}

.quantity div {
  margin: 0 3px;
  width: 25px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.quantity div:first-child {
  margin-left: 0;
}

.quantity .desc {
  display: grid;
  place-items: center;
}

.quantity .desc span {
  width: 8px;
  height: 1px;
  display: flex;
  background: #000;
  margin: 0;
}

.desc {
  margin-left: 0;
}

.a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.buttone {
  padding: 0px;
  margin-left: 35px;
  border-color: #c12222;
  border: red;
  width: 100%;
  height: 38px;
  cursor: pointer;
  background-color: #c12222;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 18px;
}
.buttone:hover{
  background-color: #df1616;
}

.counter-buttone {
  display: flex;
  margin-right: 30px;
  margin-top: 20px;
}

.About {
  margin-top: 3rem;
}

.aboutprodct-title {
  font-family: "Prata", serif;
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #262626;
}

.aboutproduct-paragraph {
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  margin-left: 3%;
  color: #262626;
}

._2Y-TT {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100%;
  background-repeat: repeat-x;
}

/* tablet max view 768px below >> laptop view  */
@media only screen and (max-width: 768px) {
  .containerabc {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: space-around;
  }

 
  .icons {
    margin-top: 30px;
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;

}

  .addtowishlist {
    margin-left: .8rem;
  }

  .delivery-return {
    margin-left: 1rem;
  }

  .enquiry {
    margin-left: .7rem;
  }

  .slider-box1 {
    margin: 1rem;
    height: 100%;
    /* background-color: lightblue; */
    margin-bottom: 20px;
  }

  .zero-box2 {
    margin: 0px;
    width: 100%;
    height: 100%;
    /* background-color: rgb(229, 229, 229); */
    margin-bottom: 20px;
    margin-top: 2rem;
  }

  .shop-slider-icon {
    width: 40px;
    height: 44px;
    padding-top: 10px;
    margin-right: 14px;
  }
}

/* tablet view min 768px uper << laptop view  */
@media only screen and (min-width: 768px) {
  .containerabc {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .zero-box2 {
    margin: 0px;
    width: 37%;
    height: 100%;
    /* background-color: rgb(229, 229, 229); */
    margin-bottom: 20px;
    margin-top: 2rem;
  }
}

/* laptop view = 1024px view uper <<  */
@media only screen and (min-width: 1024px) {
  .containerabc {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .slider-box1 {
    margin: 1rem;
    height: 100%;
    /* background-color: lightblue; */
    margin-bottom: 20px;
  }

  .zero-box2 {
    margin: 0px;
    width: 50%;
    margin-top: 2rem;
    height: auto;
    /* background-color: rgb(229, 229, 229); */
    margin-bottom: 20px;
 
  }
}


/*------------------------------------- FOR slider----------------------------------------------- */


@media (max-width: 635px) {
  .product section:first-child #left {
    position: absolute;
    top: 38%;
    left: 27%;
  }

  .product section:first-child #right {
    position: absolute;
    top: 36%;
    left: 75%;
  }

  .product section:first-child .images img {
    width: 50px;
    margin: 20px 0px 20px 12px;
    cursor: pointer;
  }

}

/* @media (max-width: 445px) {
 
  .product section:first-child #left {
    position: relative;
    top: 10rem;

  }

  .product section:first-child #right {
    position: absolute;
    bottom: 47.5rem;
  }

} */