.information {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;

  color: #262626;
}

.reviewtab {
  position: relative;
  width: 100%;

}

.css-1aquho2-MuiTabs-indicator {
  position: absolute;
  height: 2px;
  font-size: 1.875rem;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #d21919 !important;
  border-bottom: 1;
}

.css-1v0m2tv-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #f21515 !important;
}

.css-1v0m2tv-MuiButtonBase-root-MuiTab-root {
  text-transform: capitalize !important;
  font-size: 18px !important;
}

.product-detail {
  width: 100%;
  font-family: 'Gill Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #262626;

}

.overall-rating {
  display: inline-flex;
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #262626;

}

.jenny-part1 {
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
}

.kathryn-part2 {
  display: inline-flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.jane-part3 {
  display: inline-flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.review {
  margin-left: 30px;
  display: table;
}

.jenny-logo {
  height: 120px;
}

.kathryn-logo {
  height: 120px;
}

.jane-logo {
  height: 120px;
}

.jenny-name {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  width: 179px;
  height: 30px;
  margin-top: 10px;
  color: #000000;
}

.kathryn-name {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  width: 179px;
  height: 30px;
  margin-top: 10px;
  color: #000000;
}

.jane-name {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  width: 179px;
  height: 30px;
  margin-top: 10px;
  color: #000000;
}

.review-loremabout {
  font-family: 'Gill Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #262626;
}

.see-all-review {
  font-family: 'Gill Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  margin-left: 90%;
  text-decoration-line: underline;
  text-decoration-color: red;
  cursor: pointer;
  color: #C12222;
}

.productimg {

  /* display: grid; */
  justify-content: center;
}

.keshroot {
  width: 99%;
  height: 30vh;
  height: auto;
  
}

.keshroot-middle {
  width: 99%;
  height: 80vh;
  height: auto;

}

.shipping-return {
  width: 100%;
}

.shipping-font {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  padding-top: 0px;
  margin-bottom: 20px;
  color: #000000;
}

.return-font {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  padding-top: 0px;
  margin-bottom: 20px;
  padding-top: 30px;
  color: #000000;
}

.paragraphs-fonts {
  margin: 10px;
  margin-left: 40px;
  padding-left: 0px;
  font-family: 'Gill Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #262626;
}

.shipping-return-part1 {
  padding-left: 0px;
}

.shipping-return-part2 {
  padding-left: 0px;
}

@media only screen and (max-width: 375px) {
  .productimg {

    /* display: grid; */
    justify-content: center;
  }

  .keshroot {
    width: 95%;
    height: 80vh;
    height: auto;
  }

  .keshroot-middle {
    width: 95%;
    height: 80vh;
    height: auto;
  }
}