.containerabc {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.slider-box1 {
  margin: 1rem;

  height: 100%;
  /* background-color: lightblue; */
  margin-bottom: 20px;
}





._290N2,
._3_rel {
  background: #f9d695;
  color: white;
  opacity: 0.15;
  width: 25px !important;
  height: 25px !important;


}

._290N2:hover,
._3_rel:hover {
  background: #C12222;
  color: white;
  opacity: 0.15;
  width: 25px;
  height: 25px;


}

.zero-box2 {
  width: 50%;
  height: 100%;
  /* background-color: rgb(229, 229, 229); */
  margin-bottom: 20px;
}

.shop-slider-icon {
  margin: 10px;
  width: 50px;
  height: 50px;
}

.zerozero-title {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;
  display: contents;
  margin: "0px";
  color: #262626;
}

.reviews500 {
  font-family: 'Gill Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  color: #262626;
}

.ratting {
  display: flex;
  align-items: center;
}

.ratting-below-line {
  margin-top: 13px;
  font-family: 'Gill Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #262626;

}

.MRP-all-taxes {
  display: inline-flex;
  align-items: baseline;
}

.MRP {
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 197%;
  line-height: 150%;
  margin: 0px;
  color: #382924;
}

.all-taxes {
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 150%;
  line-height: 150%;
  margin: 0px;
  color: #382924;

}

.highlight {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  display: contents;
  color: #262626;
}

.highlight-lorem4line {
  padding-left: 20px;
  font-family: 'Gill Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #262626;
}

.icons {
  margin-top: 28px;
  background-color: white;
  cursor: pointer;

}

.addtowishlist {

  padding-right: 15px;
  display: inline;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Gill Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #363636;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.delivery-return {
  padding-right: 15px;
  display: inline;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Gill Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #363636;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.enquiry {
  padding-right: 15px;
  display: inline;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Gill Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #363636;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.counter {
  align-items: center;
  display: flex;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0);
  height: 38px;
  width: 100px;
  font-size: 25px;
  color: #000;
  font-display: 20px;
}

.minus {
  padding-left: 8%;
}

.plus {
  padding-left: 17%;
}

.amountindc {
  padding-left: 20%;
}

.a{
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.buttone {
  padding: 0px;
  margin-left: 35px;
  border-color: #c12222;
  border: red;
  width: 100%;
  height: 38px;
  cursor: pointer;
  background-color: #c12222;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 18px;
}

.counter-buttone {
  display: flex;
  margin-right: 30px;
  margin-top: 20px;
}

.aboutprodct-title {
  font-family: 'Prata', serif;
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #262626;
}

.aboutproduct-paragraph {
  font-family: 'Gill Sans', sans-serif;
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  margin-left: 3%;
  color: #262626;
}

._2Y-TT {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100%;
  background-repeat: repeat-x;
}




/* tablet max view 768px below >> laptop view  */
@media only screen and (max-width: 768px) {
  .containerabc {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: space-around;
  }


  .slider-box1 {
    margin: 1rem;
    height: 100%;
    /* background-color: lightblue; */
    margin-bottom: 20px;
  }

  .zero-box2 {
    margin: 0px;
    width: 100%;
    height: 100%;
    /* background-color: rgb(229, 229, 229); */
    margin-bottom: 20px;
  }

  .shop-slider-icon {
    width: 40px;
    height: 44px;
    padding-top: 10px;
    margin-right: 14px;

  }

}

/* tablet view min 768px uper << laptop view  */
@media only screen and (min-width: 768px) {
  .containerabc {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .zero-box2 {
    margin: 0px;
    width: 37%;
    height: 100%;
    /* background-color: rgb(229, 229, 229); */
    margin-bottom: 20px;
  }

}



/* laptop view = 1024px view uper <<  */
@media only screen and (min-width: 1024px) {
  .containerabc {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }



  .slider-box1 {
    margin: 1rem;
    height: 100%;
    /* background-color: lightblue; */
    margin-bottom: 20px;
  }

  .zero-box2 {
    margin: 0px;
    width: 50%;
    height: 100%;
    /* background-color: rgb(229, 229, 229); */
    margin-bottom: 20px;
  }


}