.Main-Section {
  margin: auto;
  width: 100%;
  height: auto;
  /* background-color: red; */
  padding-left: 1%;
  padding-top: 7%;
}

.SectionA {
  /* background-color: rgb(255, 80, 80); */
  width: 100%;
  padding-left: 1%;
  padding-top: 5rem;
}

.SectionB {
  /* background-color: aqua; */
  width: 100%;
  padding-left: 1%;
  padding-top: 5rem;
}
